/* body{
    background-color:#ffffff;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    display: flex;
    align-items: center;  
    font-size: 30px;
    border: 3px solid #ffffff;
    border-radius: 30px;

}  */
.cuerpo{
    background-image: linear-gradient(to bottom,#9dbded 60%,#131a22);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    padding: 40px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    border-top: 3px solid #d4e3d3;
    border-left:3px solid #d3e8d1;
    border-bottom: 3px solid #e4ebdf;
    border-right: 3px solid #edf1ea;
    border-radius: 30px;
    padding: 10px;
    width: auto;
}
.formulario{

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    font-size: 25px;
    
}
.formulario label{
    padding: 10px;
}
.formulario input{
    padding: 10px;
    font-size: 29px;
}
.formulario select option{
    font-size: 25px;
}
.formulario select{
    font-size: 25px;
}
.formulario button{
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
}
.footer{
    display: flex;
    margin-top: 650px;
}
#botonLimpiar{
    display: flex;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 200px;
}