/* body{
    background-color:#ffffff;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    display: flex;
    align-items: center;  
    font-size: 30px;
    border: 3px solid #ffffff;
    border-radius: 30px;

}  */
.cuerpo{
    background-image: linear-gradient(to bottom,#598cd3 60%,#9a85ef);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
.conversor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 5%;
    font-size: 25px;
    
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    padding: 40px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    border-top: 3px solid #fdfffd;
    border-left:3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #fdfffb;
    border-radius: 30px;
    padding: 10px;
    width: auto;
}

.conversor label{
    padding: 10px;
}
.conversor input{
    padding: 10px;
    font-size: 29px;
    margin-top: 20px;
}
.conversor select option{
    font-size: 25px;
}
.conversor select{
    font-size: 25px;
}
.conversor button{
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}
.footer{
    display: flex;
    margin-top: 400px;
}
#botonLimpiar{
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
    
}

@media screen and (max-width: 768px) {
    .cuerpo{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .conversor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conversor input{
        display: flex;
        align-items: center;
    }
}